{% extends 'base.html.twig' %}

{% block title %}Hello DashboardController!{% endblock %}

{% block bodyinicio %}
{{ parent() }}
{% endblock %}

{% block body %}

    <section class="section">
        <div class="cont-center">
            <div class="cont-flex" data-inner="1">
                <div class="item-flex">
                    <p class="bx-titulo h2">Hola {{ controller_name }}</p>
                    <p class="bx-parrafo h6">Seguro de borrar al usuario {{ email }}?</p>
                    <a href="{{ path('borrarusuario', {id:id_usuario}) }}" class="boton">
                        <p>Si, confirmar eliminado</p>
                    </a>
                </div>
                <div class="item-flex">
                    
                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block bodyfin %}
    {{ parent() }}
{% endblock %}